{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
<title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
<style>
    body{
    color:white;
    }
</style>
</head>
<body>
<center>
<form action="{% url 'login' %}" method="POST" >
    {% csrf_token %}
    UserName:<input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>
    <input type="submit" class="btn btn-success" value = "Login"/>
</form>
</center>
</body>
</html>